.App {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  min-height: 100vh;
  background-color: #f3e2de;
  gap: 8px;
}

.header {
  width: 100%; 
  max-width: 1200px; 
}
.main {
  width: 100%;
  max-width: 1200px; 
}
.footer {
  width: 100%;
  max-width: 1200px; 
}